root = true

[*]
trim_trailing_whitespace = true
insert_final_newline = true

# Indentation override for all ts/js under tests directory
#	These files are set to two spaces in order to allow for easier diff
#	between the ts test file and the original pouchdb js file
[tests/**.{ts,js}]
indent_style = space
indent_size = 2

# Indentation override for the main .ts file
[pouchdb.d.ts,pouchdb-tests.ts]
indent_style = space
indent_size = 4
