root = true

[*]
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4

# Indentation override for all ts/js under tests directory
[/tests/**.ts]
indent_style = space
indent_size = 2
